<!DOCTYPE html>
<link rel="stylesheet" href="/pages/css/about.css">



    
    <div class="container-fluid text-center light-text">
        <div class="row main">
            <div class="col-sm-12">
                <div class="about page">
                    <h1> Moodify uses the Spotify API to generate mood-based playlists. </h1>
                    <p>After authorizing Spotify access to your account information, Moody can generate a playlist based on the valence of the song you last listened to, the higher the valence the more "positive" the song and vise versa. </p>
                </div>
              
            </div>'
            <b><a href="/templates/index.html" class="button-back">Go Back</a>'
        </div>
    </div>
</html> 