<!DOCTYPE html>
<html lang="en" nighteye="disabled">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-gray navbar-fixed-top">
        <ul>
        <li class="nav-item">
            <a class="nav-link" href="/templates/index.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/templates/about.html">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/templates/mood.html">Mood</a>
            </li>
            <li class="nav-item">
            </li>
        </ul>
            </nav> -->
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel = "stylesheet" href="/static/css/index.css">
        <script src="/static/js/script.js"></script>
        
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <link rel="icon" src="/static/images/icons8-spotify-64.png">
     

        <title>Moody</title>

        <style>
            body {
                padding-top: 70px;
            }
        
            spotify-img {
            height: 350px;
            width:  350px;
            align-items: center;
            align-content: center;
        }
        </style>

    </head>
    

  
        <main>
      
                <!--sidebar-->
                <!-- <div class="flex container-fluid">
                
                     <div class="col-sm-2 row-cols-md-2 sidebar">
                      <ul class="nav nav-sidebar">
                       <h1 class="main">MAIN</h1>
                       <li class="link"><a href="#"><i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp; Search<span class="sr-only"></span></a></li>
                       <li class="link"><a href="/templates/about.html"><i class="fa fa-flash fa-fw" aria-hidden="true"></i>&nbsp; About</a></li>
                       <li class="link"><a href="/templates/mood.html"><i class="fa fa-podcast fa-fw" aria-hidden="true"></i>&nbsp; Mood</a></li>
                       <li class="link"><a href="/templates/playlist.html"><i class="fa fa-podcast fa-fw" aria-hidden="true"></i>&nbsp; Create Playlist</a></li>
                      </ul>
                      </div> -->
                   
                  
</main>
          
   

<body>
    <div class="container-fluid">
        <div class="flex flex-column align-items-center justify-content-center">
            <img src="/static/images/icons8-spotify-256.png" class="spotify-img">
            <div class="centered">Welcome to Moody🌘</div>

<br>
<br>
    <button type="button" id ="login" class="big-btn" onclick="location.href = '/spotify-auth'" >Login with Spotify</button>
</div>
</div>
</body>


<footer class="footer bg-black">
    <p class="text">Coded with 💗 by <a href="http://lynetteokoth.com">Lynette Okoth</a> · <a href="https://github.com/lyokoth/">Github</a> ·
        <a target="_blank" href="https://icons8.com/icon/49479/spotify">Spotify</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
</footer>
</html>

